<tr>
	<td>
		<%= link_to "View", search_path(search) %>
	</td>
	<td>
		<%= search.origin.title %>
	</td>
	<td>
		<%= search.destination.title %>
	</td>
	<td>
		<%= search.travel_time %>
	</td>
	<td>
		<%= search.distance %>
	</td>
	<td>
		<%= link_to "Delete", search_path(search),
                    method: :delete,
                    data: { "turbo-frame": "_top" } %>
	</td>
</tr>