<tr>
	<td>
		<%= link_to "View", search_path(search) %>
	</td>
	<td>
		<%= search.origin.title %>
	</td>
	<td>
		<%= search.destination.title %>
	</td>
	<td>
		<%= search.travel_time %> minutes
	</td>
	<td>
		<%= search.distance %> miles
	</td>
</tr>