<% previous_page = ["Previous Searches", searches_path] %>
<% current_page = "#{@search.origin.title} - #{@search.destination.title}" %>

<%= render "shared/two_level_breadcrumbs", previous_page:, current_page: %>

<header class="mb-4 pb-2 border-bottom text-center"><h1 class="display-4 fs-2 fw-bold"><%= @search.origin.title %> - <%= @search.destination.title %></h1></header>

<div class="row">
	<div class="col">
		<p>
			<b>Origin Address</b>: <%= @search.origin.address %>
		</p>
		<p>
			<b>Destination Address</b>: <%= @search.destination.address %>
		</p>
	</div>

	<div class="col">
		<%= render 'map' %>
	</div>
</div>
